# Superhero

- Clint Atterberry
- 8/29/22

## Project Information

The Task
Your task is two-fold:

I. Clean the files and combine them into one final DataFrame.

    - This dataframe should have the following columns:
        - Hero (Just the name of the Hero)
        - Publisher
        - Gender
        - Eye color
        - Race
        - Hair color
        - Height (numeric)
        - Skin color
        - Alignment
        - Weight (numeric)
        - Plus, one-hot-encoded columns for every power that - appears in the dataset. E.g.:
            - Agility
            - Flight
            - Superspeed
            - etc.
Hint: There is a space in "100 kg" or "52.5 cm"



II. Use your combined DataFrame to answer the following questions.

1. Compare the average weight of super powers who have Super Speed to those who do not.
2. What is the average height of heroes for each publisher?

# Setup

## Import

In [1]:
# Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Importing the OS and JSON Modules
import os,json

## Load Data

In [2]:
super_info = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vQqIOAkjE3NPqH3fN5qdMIyEMIAbBXMyHHYgjEdDfgttcU0dbl8dCAHze2iestVkaSbRKSXS3YpkbFT/pub?output=csv'
super_powers = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vSZeRKvu4AbsTWiYbk3mHKTOjAHlIlyCKOcpliC39eCELYeLOgKMmDN2AdEohkxEWNCvvrPiJ26Acop/pub?output=csv'
super_info_df = pd.read_csv(super_info)
super_powers_df = pd.read_csv(super_powers)

## Explore Data

In [3]:
# looking at the first 3 rows of data
super_info_df.head(3)

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}"
2,Abin Sur|DC Comics,Male,Ungaran,good,No Hair,blue,red,"{'Height': '185.0 cm', 'Weight': '90.0 kg'}"

In [4]:
# looking at the first 3 rows of data
super_powers_df.head(3)

   hero_names                                             Powers
0     3-D Man         Agility,Super Strength,Stamina,Super Speed
1      A-Bomb  Accelerated Healing,Durability,Longevity,Super...
2  Abe Sapien  Agility,Accelerated Healing,Cold Resistance,Du...

In [5]:
# explore super_info
super_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463 entries, 0 to 462
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Hero|Publisher  463 non-null    object
 1   Gender          463 non-null    object
 2   Race            463 non-null    object
 3   Alignment       463 non-null    object
 4   Hair color      463 non-null    object
 5   Eye color       463 non-null    object
 6   Skin color      463 non-null    object
 7   Measurements    463 non-null    object
dtypes: object(8)
memory usage: 29.1+ KB

- 8 columns
- 463 rows
- Appears to have no missing data in the columns
- All columns are objects
- Measurements column will need to be numeric and separated into 2 columns, height and weight
- Hero and Publisher will need to be separated into 2 columns

In [6]:
# explore super_powers
super_powers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 667 entries, 0 to 666
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   hero_names  667 non-null    object
 1   Powers      667 non-null    object
dtypes: object(2)
memory usage: 10.5+ KB

- 2 columns
- 667 rows
- Appears to have no missing data in the columns
- Both columns are objects
- Powers will need to be one-hot-encoded to different columns

# Prepare Data (super_info_df)

## Separate Hero and Publisher

In [7]:
# Exploring existing format with a few examples
super_info_df['Hero|Publisher'].head(2)

0            A-Bomb|Marvel Comics
1    Abe Sapien|Dark Horse Comics
Name: Hero|Publisher, dtype: object

The '|' separates the two columns.

In [8]:
## adding expand=True to create the 2 columns
super_info_df[['Hero','Publisher']] = super_info_df['Hero|Publisher'].str.split('|',expand=True)
super_info_df.head(2)

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publisher
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics

In [9]:
super_info_df.drop(columns='Hero|Publisher', inplace=True)
super_info_df.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publisher
0,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics
1,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics

The column was successfully separated into two different columns.

## Separate Height and Weight

In [10]:
# Exploring existing format with a few examples
super_info_df['Measurements'].head(2)

0    {'Height': '203.0 cm', 'Weight': '441.0 kg'}
1     {'Height': '191.0 cm', 'Weight': '65.0 kg'}
Name: Measurements, dtype: object

The keys need to be columns, and the values will be items in those respective columns.

In [11]:
## examining a single value from the 'measurements' col
height_and_weight = super_info_df.loc[0,'Measurements']
print(type(height_and_weight))
height_and_weight

<class 'str'>

"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"

- Notice that there are quotation marks around the entire dictionary! We actually have a STRING that LOOKS like a dictionary.
- The entire coordinates column is dictionaries-turned-strings that must be converted back to dictionaries.

In [12]:
# The data will not be able to be cleaned because of the double quotes " "
# To fix this, we can replace our single quotes with double quotes before we use json.loads.
# For our single test string, we can use the .replace method:

height_and_weight = height_and_weight.replace("'",'"')
height_and_weight

'{"Height": "203.0 cm", "Weight": "441.0 kg"}'

In [13]:
## now we can use json.loads
fixed_height_and_weight = json.loads(height_and_weight)
print(type(fixed_height_and_weight))
fixed_height_and_weight

<class 'dict'>

{'Height': '203.0 cm', 'Weight': '441.0 kg'}

Now that we know this will work, we can apply it to the entire column.

We can apply this transformation to the entire column by combining:
- Using .str.replace to replace single quotes.
- Using .apply with json.loads to convert all rows simultaneously

In [14]:
## use .str.replace to replace all single quotes
super_info_df['Measurements'] = super_info_df['Measurements'].str.replace("'",'"')
## Apply the json.loads to the full column
super_info_df['Measurements'] = super_info_df['Measurements'].apply(json.loads)
super_info_df['Measurements'].head()

0    {'Height': '203.0 cm', 'Weight': '441.0 kg'}
1     {'Height': '191.0 cm', 'Weight': '65.0 kg'}
2     {'Height': '185.0 cm', 'Weight': '90.0 kg'}
3    {'Height': '203.0 cm', 'Weight': '441.0 kg'}
4    {'Height': '193.0 cm', 'Weight': '122.0 kg'}
Name: Measurements, dtype: object

In [15]:
## check a single value after transformation
test_measurement = super_info_df.loc[0, 'Measurements']
print(type(test_measurement))
test_measurement

<class 'dict'>

{'Height': '203.0 cm', 'Weight': '441.0 kg'}

- We now want to convert the single "Measurements" column into 2 separate columns "Height" and "Weight".
    - To do so, we will use .apply with the pd.Series function.

- If we use the pandas pd.Series function on our column of dictionaries, it will automatically convert each key to a new column!

In [16]:
height_weight = super_info_df['Measurements'].apply(pd.Series)
height_weight

       Height    Weight
0    203.0 cm  441.0 kg
1    191.0 cm   65.0 kg
2    185.0 cm   90.0 kg
3    203.0 cm  441.0 kg
4    193.0 cm  122.0 kg
..        ...       ...
458  183.0 cm   83.0 kg
459  165.0 cm   52.0 kg
460   66.0 cm   17.0 kg
461  170.0 cm   57.0 kg
462  185.0 cm   81.0 kg

[463 rows x 2 columns]

Now, we concatenate these 2 new columns to our original dataframe AND drop the original column.
- We will use pd.concat with axis=1 to concatenate the two dataframes side by side.
    - pd.concat([df1,df2], axis=1)

In [17]:
# concat height_weight with original dataframe
super_info_df = pd.concat([super_info_df, height_weight], axis = 1)
super_info_df.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Hero,Publisher,Height,Weight
0,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",A-Bomb,Marvel Comics,203.0 cm,441.0 kg
1,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",Abe Sapien,Dark Horse Comics,191.0 cm,65.0 kg

Success! Now to drop the 'Measurements' column.

In [18]:
# dropping the 'Measurements' column
super_info_df.drop(columns='Measurements', inplace=True)
super_info_df.head()

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Hero,Publisher,Height,Weight
0,Male,Human,good,No Hair,yellow,Unknown,A-Bomb,Marvel Comics,203.0 cm,441.0 kg
1,Male,Icthyo Sapien,good,No Hair,blue,blue,Abe Sapien,Dark Horse Comics,191.0 cm,65.0 kg
2,Male,Ungaran,good,No Hair,blue,red,Abin Sur,DC Comics,185.0 cm,90.0 kg
3,Male,Human / Radiation,bad,No Hair,green,Unknown,Abomination,Marvel Comics,203.0 cm,441.0 kg
4,Male,Human,bad,No Hair,blue,Unknown,Absorbing Man,Marvel Comics,193.0 cm,122.0 kg

## Change dtype of 'Height' and 'Weight'

In [19]:
# checking dtypes
super_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463 entries, 0 to 462
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Gender      463 non-null    object
 1   Race        463 non-null    object
 2   Alignment   463 non-null    object
 3   Hair color  463 non-null    object
 4   Eye color   463 non-null    object
 5   Skin color  463 non-null    object
 6   Hero        463 non-null    object
 7   Publisher   463 non-null    object
 8   Height      463 non-null    object
 9   Weight      463 non-null    object
dtypes: object(10)
memory usage: 36.3+ KB

Height and Weight are both objects still, need to change to numeric.

In [20]:
# checking for the values, if they are int or float
print(super_info_df['Height'].head(10))
print(super_info_df['Weight'].head(10))

0    203.0 cm
1    191.0 cm
2    185.0 cm
3    203.0 cm
4    193.0 cm
5    185.0 cm
6    178.0 cm
7    191.0 cm
8    188.0 cm
9    193.0 cm
Name: Height, dtype: object
0    441.0 kg
1     65.0 kg
2     90.0 kg
3    441.0 kg
4    122.0 kg
5     88.0 kg
6     81.0 kg
7    104.0 kg
8    108.0 kg
9     90.0 kg
Name: Weight, dtype: object

Converting the values to int because the decimals are all '0'.

In [21]:
# pd.to_numeric(super_info_df['Height'], downcast="integer")
# pd.to_numeric(super_info_df['Weight'], downcast="integer")

# super_info_df.info()

Error! Need to get rid of the " cm" and " kg".

In [22]:
super_info_df.replace([' cm', ' kg'], '', inplace=True, regex=True)
super_info_df.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Hero,Publisher,Height,Weight
0,Male,Human,good,No Hair,yellow,Unknown,A-Bomb,Marvel Comics,203.0,441.0
1,Male,Icthyo Sapien,good,No Hair,blue,blue,Abe Sapien,Dark Horse Comics,191.0,65.0

Success! Checking the dtype again.

In [23]:
super_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463 entries, 0 to 462
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Gender      463 non-null    object
 1   Race        463 non-null    object
 2   Alignment   463 non-null    object
 3   Hair color  463 non-null    object
 4   Eye color   463 non-null    object
 5   Skin color  463 non-null    object
 6   Hero        463 non-null    object
 7   Publisher   463 non-null    object
 8   Height      463 non-null    object
 9   Weight      463 non-null    object
dtypes: object(10)
memory usage: 36.3+ KB

Still 'obj', will now change to 'float'.

In [24]:
super_info_df['Height'] = pd.to_numeric(super_info_df['Height'])
super_info_df['Weight'] = pd.to_numeric(super_info_df['Weight'])
super_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463 entries, 0 to 462
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Gender      463 non-null    object
 1   Race        463 non-null    object
 2   Alignment   463 non-null    object
 3   Hair color  463 non-null    object
 4   Eye color   463 non-null    object
 5   Skin color  463 non-null    object
 6   Hero        463 non-null    object
 7   Publisher   463 non-null    object
 8   Height      463 non-null    float64
 9   Weight      463 non-null    float64
dtypes: float64(2), object(8)
memory usage: 36.3+ KB

Success!

# Prepare Data (super_powers_df)

## Separate the 'Powers' into their own columns

In [25]:
# review super_powers_df
super_powers_df.head()

    hero_names                                             Powers
0      3-D Man         Agility,Super Strength,Stamina,Super Speed
1       A-Bomb  Accelerated Healing,Durability,Longevity,Super...
2   Abe Sapien  Agility,Accelerated Healing,Cold Resistance,Du...
3     Abin Sur                                 Lantern Power Ring
4  Abomination  Accelerated Healing,Intelligence,Super Strengt...

In [26]:
## showing the lists are really strings
super_powers_df.loc[2,'Powers']

'Agility,Accelerated Healing,Cold Resistance,Durability,Underwater breathing,Marksmanship,Weapons Master,Longevity,Intelligence,Super Strength,Telepathy,Stamina,Immortality,Reflexes,Enhanced Sight,Sub-Mariner'

In [27]:
# Create a new column where the single quotes are replaced by double quotes
super_powers_df['Powers_Split'] = super_powers_df['Powers'].str.split(',', expand=False)

In [28]:
## showing the lists are really strings
super_powers_df.loc[2,'Powers_Split']

['Agility',
 'Accelerated Healing',
 'Cold Resistance',
 'Durability',
 'Underwater breathing',
 'Marksmanship',
 'Weapons Master',
 'Longevity',
 'Intelligence',
 'Super Strength',
 'Telepathy',
 'Stamina',
 'Immortality',
 'Reflexes',
 'Enhanced Sight',
 'Sub-Mariner']

In [29]:
# exploring the .value_counts in the column 'Powers_Split'
super_powers_df['Powers_Split'].value_counts()

[Intelligence]                                                                                                                                                                                                                                                                          8
[Durability, Super Strength]                                                                                                                                                                                                                                                            5
[Agility, Stealth, Marksmanship, Weapons Master, Stamina]                                                                                                                                                                                                                               4
[Marksmanship]                                                                                                                                                                                                                                                                          4
[Teleportation]                                                                                                                                                                                                                                                                         4
                                                                                                                                                                                                                                                                                       ..
[Accelerated Healing, Flight, Telepathy, Energy Blasts, Teleportation, Telekinesis, Astral Projection, Psionic Powers, Mind Blast, Regeneration, Illusions, Resurrection]                                                                                                               1
[Flight, Telepathy, Animal Oriented Powers, Gliding]                                                                                                                                                                                                                                    1
[Accelerated Healing, Durability, Energy Absorption, Flight, Super Strength, Telepathy, Energy Blasts, Size Changing, Super Speed, Darkforce Manipulation, Enhanced Senses, Phasing, Invulnerability, Self-Sustenance, Gravity Control, Energy Manipulation, Time Travel, Illusions]    1
[Agility, Accelerated Healing, Super Strength, Super Speed, Animal Oriented Powers, Enhanced Senses, Jump, Reflexes, Natural Weapons]                                                                                                                                                   1
[Super Speed, Intangibility, Time Travel, Time Manipulation]                                                                                                                                                                                                                            1
Name: Powers_Split, Length: 608, dtype: int64

In [30]:
## exploding the column of lists
exploded = super_powers_df.explode('Powers_Split')
exploded[['hero_names','Powers','Powers_Split']].head(5)

,hero_names,Powers,Powers_Split
0,3-D Man,"Agility,Super Strength,Stamina,Super Speed",Agility
0,3-D Man,"Agility,Super Strength,Stamina,Super Speed",Super Strength
0,3-D Man,"Agility,Super Strength,Stamina,Super Speed",Stamina
0,3-D Man,"Agility,Super Strength,Stamina,Super Speed",Super Speed
1,A-Bomb,"Accelerated Healing,Durability,Longevity,Super...",Accelerated Healing

In [31]:
## saving the unique values from the exploded column
cols_to_make = exploded['Powers_Split'].dropna().unique()
cols_to_make

array(['Agility', 'Super Strength', 'Stamina', 'Super Speed',
       'Accelerated Healing', 'Durability', 'Longevity', 'Camouflage',
       'Self-Sustenance', 'Cold Resistance', 'Underwater breathing',
       'Marksmanship', 'Weapons Master', 'Intelligence', 'Telepathy',
       'Immortality', 'Reflexes', 'Enhanced Sight', 'Sub-Mariner',
       'Lantern Power Ring', 'Invulnerability', 'Animation',
       'Super Breath', 'Dimensional Awareness', 'Flight', 'Size Changing',
       'Teleportation', 'Magic', 'Dimensional Travel',
       'Molecular Manipulation', 'Energy Manipulation', 'Power Cosmic',
       'Energy Absorption', 'Elemental Transmogrification',
       'Fire Resistance', 'Natural Armor', 'Heat Resistance',
       'Matter Absorption', 'Regeneration', 'Stealth', 'Power Suit',
       'Energy Blasts', 'Energy Beams', 'Heat Generation', 'Danger Sense',
       'Phasing', 'Force Fields', 'Hypnokinesis', 'Invisibility',
       'Enhanced Senses', 'Jump', 'Shapeshifting', 'Elasticity',
       'Substance Secretion', 'Enhanced Hearing', 'Adaptation', 'Gliding',
       'Natural Weapons', 'Wallcrawling', 'Vision - Thermal',
       'Power Augmentation', 'Cryokinesis', 'Duplication',
       'Weapon-based Powers', 'Fire Control', 'Enhanced Memory',
       'Energy Constructs', 'Power Absorption', 'Time Travel',
       'Enhanced Smell', 'Water Control', 'Vision - Telescopic',
       'Magnetism', 'Vision - Microscopic', 'Vision - Night',
       'Vision - Heat', 'Vision - X-Ray', 'Psionic Powers',
       'Toxin and Disease Resistance', 'Animal Attributes',
       'Animal Oriented Powers', 'Toxin and Disease Control', 'Empathy',
       'Animal Control', 'Darkforce Manipulation', 'Time Manipulation',
       'Reality Warping', 'Web Creation', 'Symbiote Costume',
       'Telekinesis', 'Levitation', 'Biokinesis', 'Sonar',
       'Enhanced Touch', 'Seismic Power', 'Energy Armor',
       'Omnilingualism', 'Radiation Immunity', 'Density Control',
       'Light Control', 'Illumination', 'Molecular Combustion',
       'Astral Travel', 'Precognition', 'Intangibility', 'Illusions',
       'Audio Control', 'Sonic Scream', 'Peak Human Condition',
       'Vision - Infrared', 'Dexterity', 'Omnitrix', 'Omnipotent',
       'Possession', 'Energy Resistance', 'Vision - Cryo', 'Mind Control',
       'Mind Blast', 'Clairvoyance', 'Probability Manipulation',
       'Death Touch', 'Electrokinesis', 'Gravity Control',
       'Technopath/Cyberpath', 'Radar Sense', 'Astral Projection',
       'Cloaking', 'Telepathy Resistance', 'Mind Control Resistance',
       'Hyperkinesis', 'Spatial Awareness', 'Radiation Control',
       'Radiation Absorption', 'Magic Resistance', 'Element Control',
       'Plant Control', 'Terrakinesis', 'Power Sense', 'Wind Control',
       'Qwardian Power Ring', 'Echolocation', 'Resurrection', 'The Force',
       'Summoning', 'Banish', 'Molecular Dissipation',
       'Electrical Transport', 'Speed Force', 'Grim Reaping',
       'Portal Creation', 'Vitakinesis', 'Projection', 'Insanity',
       'Photographic Reflexes', 'Anti-Gravity', 'Thirstokinesis',
       'Power Nullifier', 'Weather Control', 'Omnipresent', 'Omniscient',
       'Hair Manipulation', 'Nova Force', 'Odin Force', 'Phoenix Force',
       'Intuitive aptitude', 'Melting', 'Changing Armor'], dtype=object)

In [32]:
# using a For Loop and .str.contains to create the new columns
for col in cols_to_make:
    super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
super_powers_df.head()

C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)

C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)

C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)
C:\Users\oneda\AppData\Local\Temp\ipykernel_14148\2407499648.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super_powers_df[col] = super_powers_df['Powers'].str.contains(col)

,hero_names,Powers,Powers_Split,Agility,Super Strength,Stamina,Super Speed,Accelerated Healing,Durability,Longevity,...,Weather Control,Omnipresent,Omniscient,Hair Manipulation,Nova Force,Odin Force,Phoenix Force,Intuitive aptitude,Melting,Changing Armor
0,3-D Man,"Agility,Super Strength,Stamina,Super Speed","[Agility, Super Strength, Stamina, Super Speed]",True,True,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,A-Bomb,"Accelerated Healing,Durability,Longevity,Super...","[Accelerated Healing, Durability, Longevity, S...",False,True,True,False,True,True,True,...,False,False,False,False,False,False,False,False,False,False
2,Abe Sapien,"Agility,Accelerated Healing,Cold Resistance,Du...","[Agility, Accelerated Healing, Cold Resistance...",True,True,True,False,True,True,True,...,False,False,False,False,False,False,False,False,False,False
3,Abin Sur,Lantern Power Ring,[Lantern Power Ring],False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,Abomination,"Accelerated Healing,Intelligence,Super Strengt...","[Accelerated Healing, Intelligence, Super Stre...",False,True,True,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False

Success!

# Merge Dataframes

## Normalizing the Data

In [33]:
# renaming the column 'hero_names' to 'Hero' for consistency
super_powers_df.rename(columns={'hero_names':'Hero'}, inplace=True)
super_powers_df.head(2)

,Hero,Powers,Powers_Split,Agility,Super Strength,Stamina,Super Speed,Accelerated Healing,Durability,Longevity,...,Weather Control,Omnipresent,Omniscient,Hair Manipulation,Nova Force,Odin Force,Phoenix Force,Intuitive aptitude,Melting,Changing Armor
0,3-D Man,"Agility,Super Strength,Stamina,Super Speed","[Agility, Super Strength, Stamina, Super Speed]",True,True,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,A-Bomb,"Accelerated Healing,Durability,Longevity,Super...","[Accelerated Healing, Durability, Longevity, S...",False,True,True,False,True,True,True,...,False,False,False,False,False,False,False,False,False,False

In [34]:
## get the unique ids
unique_names = sorted(super_info_df['Hero'].unique())
unique_names[:3]

['A-Bomb', 'Abe Sapien', 'Abin Sur']

In [35]:
## get the unique ids
unique_names_2 = sorted(super_powers_df['Hero'].unique())
unique_names_2[:3]

['3-D Man', 'A-Bomb', 'Abe Sapien']

In [36]:
## make integers for each id
int_names = range(len(unique_names))
int_names

range(0, 455)

In [37]:
## make integers for each id
int_names_2 = range(len(unique_names_2))
int_names_2

range(0, 667)

## Use the Zip Function

In [38]:
## Converting our range to a list and showing the first 10 values
example_range = list(int_names)
example_range[:10]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
## Converting our range to a list and showing the first 10 values
example_range_2 = list(int_names_2)
example_range_2[:10]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [40]:
# Zip together the unique_names as the keys and the int_names as the values
name_map = dict(zip(unique_names,int_names))
name_map

{'A-Bomb': 0,
 'Abe Sapien': 1,
 'Abin Sur': 2,
 'Abomination': 3,
 'Absorbing Man': 4,
 'Adam Strange': 5,
 'Agent Bob': 6,
 'Agent Zero': 7,
 'Air-Walker': 8,
 'Ajax': 9,
 'Alan Scott': 10,
 'Alien': 11,
 'Amazo': 12,
 'Ammo': 13,
 'Angel': 14,
 'Angel Dust': 15,
 'Angel Salvadore': 16,
 'Animal Man': 17,
 'Annihilus': 18,
 'Ant-Man': 19,
 'Ant-Man II': 20,
 'Anti-Venom': 21,
 'Apocalypse': 22,
 'Aqualad': 23,
 'Aquaman': 24,
 'Arachne': 25,
 'Archangel': 26,
 'Arclight': 27,
 'Ardina': 28,
 'Ares': 29,
 'Ariel': 30,
 'Armor': 31,
 'Atlas': 32,
 'Atom': 33,
 'Atom Girl': 34,
 'Atom II': 35,
 'Aurora': 36,
 'Azazel': 37,
 'Bane': 38,
 'Banshee': 39,
 'Bantam': 40,
 'Batgirl': 41,
 'Batgirl IV': 42,
 'Batgirl VI': 43,
 'Batman': 44,
 'Batman II': 45,
 'Battlestar': 46,
 'Beak': 47,
 'Beast': 48,
 'Beast Boy': 49,
 'Beta Ray Bill': 50,
 'Big Barda': 51,
 'Big Man': 52,
 'Binary': 53,
 'Bishop': 54,
 'Bizarro': 55,
 'Black Adam': 56,
 'Black Bolt': 57,
 'Black Canary': 58,
 'Black Cat': 59,
 'Black Knight III': 60,
 'Black Lightning': 61,
 'Black Mamba': 62,
 'Black Manta': 63,
 'Black Panther': 64,
 'Black Widow': 65,
 'Blackout': 66,
 'Blackwing': 67,
 'Blackwulf': 68,
 'Blade': 69,
 'Bling!': 70,
 'Blink': 71,
 'Blizzard II': 72,
 'Blob': 73,
 'Bloodaxe': 74,
 'Blue Beetle II': 75,
 'Boom-Boom': 76,
 'Booster Gold': 77,
 'Brainiac': 78,
 'Brainiac 5': 79,
 'Brother Voodoo': 80,
 'Buffy': 81,
 'Bullseye': 82,
 'Bumblebee': 83,
 'Cable': 84,
 'Callisto': 85,
 'Cannonball': 86,
 'Captain America': 87,
 'Captain Atom': 88,
 'Captain Britain': 89,
 'Captain Marvel': 90,
 'Captain Marvel II': 91,
 'Carnage': 92,
 'Cat': 93,
 'Catwoman': 94,
 'Century': 95,
 'Chamber': 96,
 'Changeling': 97,
 'Cheetah': 98,
 'Cheetah II': 99,
 'Cheetah III': 100,
 'Chromos': 101,
 'Citizen Steel': 102,
 'Cloak': 103,
 'Colossus': 104,
 'Copycat': 105,
 'Cottonmouth': 106,
 'Crimson Dynamo': 107,
 'Crystal': 108,
 'Cyborg': 109,
 'Cyclops': 110,
 'Dagger': 111,
 'Daredevil': 112,
 'Darkhawk': 113,
 'Darkseid': 114,
 'Darkstar': 115,
 'Darth Vader': 116,
 'Dash': 117,
 'Dazzler': 118,
 'Deadman': 119,
 'Deadpool': 120,
 'Deadshot': 121,
 'Deathlok': 122,
 'Deathstroke': 123,
 'Demogoblin': 124,
 'Destroyer': 125,
 'Diamondback': 126,
 'Doc Samson': 127,
 'Doctor Doom': 128,
 'Doctor Doom II': 129,
 'Doctor Fate': 130,
 'Doctor Octopus': 131,
 'Doctor Strange': 132,
 'Domino': 133,
 'Donna Troy': 134,
 'Doomsday': 135,
 'Doppelganger': 136,
 'Drax the Destroyer': 137,
 'Elastigirl': 138,
 'Electro': 139,
 'Elektra': 140,
 'Elongated Man': 141,
 'Emma Frost': 142,
 'Enchantress': 143,
 'Etrigan': 144,
 'Evil Deadpool': 145,
 'Evilhawk': 146,
 'Exodus': 147,
 'Fabian Cortez': 148,
 'Falcon': 149,
 'Feral': 150,
 'Fin Fang Foom': 151,
 'Firebird': 152,
 'Firelord': 153,
 'Firestar': 154,
 'Firestorm': 155,
 'Flash': 156,
 'Flash II': 157,
 'Flash III': 158,
 'Flash IV': 159,
 'Forge': 160,
 'Franklin Richards': 161,
 'Frenzy': 162,
 'Frigga': 163,
 'Galactus': 164,
 'Gambit': 165,
 'Gamora': 166,
 'Genesis': 167,
 'Ghost Rider': 168,
 'Giganta': 169,
 'Gladiator': 170,
 'Goblin Queen': 171,
 'Goku': 172,
 'Goliath IV': 173,
 'Gorilla Grodd': 174,
 'Granny Goodness': 175,
 'Gravity': 176,
 'Green Arrow': 177,
 'Green Goblin': 178,
 'Green Goblin II': 179,
 'Green Goblin III': 180,
 'Green Goblin IV': 181,
 'Groot': 182,
 'Guy Gardner': 183,
 'Hal Jordan': 184,
 'Han Solo': 185,
 'Harley Quinn': 186,
 'Havok': 187,
 'Hawk': 188,
 'Hawkeye': 189,
 'Hawkeye II': 190,
 'Hawkgirl': 191,
 'Hawkman': 192,
 'Heat Wave': 193,
 'Hela': 194,
 'Hellboy': 195,
 'Hellcat': 196,
 'Hellstorm': 197,
 'Hercules': 198,
 'Hobgoblin': 199,
 'Hope Summers': 200,
 'Hulk': 201,
 'Human Torch': 202,
 'Huntress': 203,
 'Husk': 204,
 'Hybrid': 205,
 'Hydro-Man': 206,
 'Hyperion': 207,
 'Iceman': 208,
 'Impulse': 209,
 'Indiana Jones': 210,
 'Ink': 211,
 'Invisible Woman': 212,
 'Iron Fist': 213,
 'Iron Man': 214,
 'Jack of Hearts': 215,
 'Jack-Jack': 216,
 'James T. Kirk': 217,
 'Jean Grey': 218,
 'Jennifer Kale': 219,
 'Jessica Jones': 220,
 'John Stewart': 221,
 'John Wraith': 222,
 'Joker': 223,
 'Jolt': 224,
 'Jubilee': 225,
 'Juggernaut': 226,
 'Justice': 227,
 'Kang': 228,
 'Karate Kid': 229,
 'Killer Croc': 230,
 'Kilowog': 231,
 'Klaw': 232,
 'Kraven II': 233,
 'Kraven the Hunter': 234,
 'Krypto': 235,
 'Kyle Rayner': 236,
 'Lady Deathstrike': 237,
 'Leader': 238,
 'Legion': 239,
 'Lex Luthor': 240,
 'Light Lass': 241,
 'Lightning Lad': 242,
 'Lightning Lord': 243,
 'Living Brain': 244,
 'Lizard': 245,
 'Lobo': 246,
 'Loki': 247,
 'Longshot': 248,
 'Luke Cage': 249,
 'Luke Skywalker': 250,
 'MODOK': 251,
 'Mach-IV': 252,
 'Machine Man': 253,
 'Magneto': 254,
 'Man-Thing': 255,
 'Man-Wolf': 256,
 'Mandarin': 257,
 'Mantis': 258,
 'Martian Manhunter': 259,
 'Marvel Girl': 260,
 'Master Brood': 261,
 'Maverick': 262,
 'Maxima': 263,
 'Medusa': 264,
 'Meltdown': 265,
 'Mephisto': 266,
 'Mera': 267,
 'Metallo': 268,
 'Metamorpho': 269,
 'Metron': 270,
 'Micro Lad': 271,
 'Mimic': 272,
 'Miss Martian': 273,
 'Mister Fantastic': 274,
 'Mister Freeze': 275,
 'Mister Sinister': 276,
 'Mockingbird': 277,
 'Molten Man': 278,
 'Monarch': 279,
 'Moon Knight': 280,
 'Moonstone': 281,
 'Morlun': 282,
 'Moses Magnum': 283,
 'Mr Immortal': 284,
 'Mr Incredible': 285,
 'Ms Marvel II': 286,
 'Multiple Man': 287,
 'Mysterio': 288,
 'Mystique': 289,
 'Namor': 290,
 'Namora': 291,
 'Namorita': 292,
 'Naruto Uzumaki': 293,
 'Nebula': 294,
 'Nick Fury': 295,
 'Nightcrawler': 296,
 'Nightwing': 297,
 'Northstar': 298,
 'Nova': 299,
 'Odin': 300,
 'Omniscient': 301,
 'One Punch Man': 302,
 'Onslaught': 303,
 'Oracle': 304,
 'Penance II': 305,
 'Penguin': 306,
 'Phantom Girl': 307,
 'Phoenix': 308,
 'Plantman': 309,
 'Plastic Man': 310,
 'Plastique': 311,
 'Poison Ivy': 312,
 'Polaris': 313,
 'Power Girl': 314,
 'Predator': 315,
 'Professor X': 316,
 'Professor Zoom': 317,
 'Psylocke': 318,
 'Punisher': 319,
 'Purple Man': 320,
 'Pyro': 321,
 'Question': 322,
 'Quicksilver': 323,
 'Quill': 324,
 "Ra's Al Ghul": 325,
 'Rambo': 326,
 'Raven': 327,
 'Ray': 328,
 'Razor-Fist II': 329,
 'Red Arrow': 330,
 'Red Hood': 331,
 'Red Hulk': 332,
 'Red Robin': 333,
 'Red Skull': 334,
 'Red Tornado': 335,
 'Rhino': 336,
 'Rick Flag': 337,
 'Ripcord': 338,
 'Robin': 339,
 'Robin II': 340,
 'Robin III': 341,
 'Robin V': 342,
 'Rocket Raccoon': 343,
 'Rogue': 344,
 'Rorschach': 345,
 'Sabretooth': 346,
 'Sage': 347,
 'Sandman': 348,
 'Sasquatch': 349,
 'Scarecrow': 350,
 'Scarlet Spider': 351,
 'Scarlet Spider II': 352,
 'Scarlet Witch': 353,
 'Scorpion': 354,
 'Sentry': 355,
 'Shadow King': 356,
 'Shadow Lass': 357,
 'Shadowcat': 358,
 'Shang-Chi': 359,
 'Shatterstar': 360,
 'She-Hulk': 361,
 'She-Thing': 362,
 'Shocker': 363,
 'Shriek': 364,
 'Sif': 365,
 'Silver Surfer': 366,
 'Silverclaw': 367,
 'Sinestro': 368,
 'Siren': 369,
 'Siryn': 370,
 'Skaar': 371,
 'Snowbird': 372,
 'Solomon Grundy': 373,
 'Songbird': 374,
 'Space Ghost': 375,
 'Spawn': 376,
 'Spider-Girl': 377,
 'Spider-Gwen': 378,
 'Spider-Man': 379,
 'Spider-Woman': 380,
 'Spider-Woman III': 381,
 'Spider-Woman IV': 382,
 'Spock': 383,
 'Spyke': 384,
 'Star-Lord': 385,
 'Starfire': 386,
 'Stargirl': 387,
 'Static': 388,
 'Steel': 389,
 'Steppenwolf': 390,
 'Storm': 391,
 'Sunspot': 392,
 'Superboy': 393,
 'Superboy-Prime': 394,
 'Supergirl': 395,
 'Superman': 396,
 'Swarm': 397,
 'Synch': 398,
 'T-1000': 399,
 'Taskmaster': 400,
 'Tempest': 401,
 'Thanos': 402,
 'The Comedian': 403,
 'Thing': 404,
 'Thor': 405,
 'Thor Girl': 406,
 'Thunderbird': 407,
 'Thunderbird III': 408,
 'Thunderstrike': 409,
 'Thundra': 410,
 'Tiger Shark': 411,
 'Tigra': 412,
 'Tinkerer': 413,
 'Toad': 414,
 'Toxin': 415,
 'Trickster': 416,
 'Triplicate Girl': 417,
 'Triton': 418,
 'Ultragirl': 419,
 'Ultron': 420,
 'Utgard-Loki': 421,
 'Valerie Hart': 422,
 'Valkyrie': 423,
 'Vanisher': 424,
 'Vegeta': 425,
 'Venom': 426,
 'Venom II': 427,
 'Venom III': 428,
 'Vertigo II': 429,
 'Vibe': 430,
 'Vindicator': 431,
 'Violet Parr': 432,
 'Vision': 433,
 'Vixen': 434,
 'Vulture': 435,
 'Walrus': 436,
 'War Machine': 437,
 'Warlock': 438,
 'Warp': 439,
 'Warpath': 440,
 'Wasp': 441,
 'Winter Soldier': 442,
 'Wolfsbane': 443,
 'Wolverine': 444,
 'Wonder Girl': 445,
 'Wonder Man': 446,
 'Wonder Woman': 447,
 'X-23': 448,
 'X-Man': 449,
 'Yellowjacket': 450,
 'Yellowjacket II': 451,
 'Yoda': 452,
 'Zatanna': 453,
 'Zoom': 454}

In [41]:
# Zip together the unique_names as the keys and the int_names as the values
name_map_2 = dict(zip(unique_names_2,int_names_2))
name_map_2

{'3-D Man': 0,
 'A-Bomb': 1,
 'Abe Sapien': 2,
 'Abin Sur': 3,
 'Abomination': 4,
 'Abraxas': 5,
 'Absorbing Man': 6,
 'Adam Monroe': 7,
 'Adam Strange': 8,
 'Agent Bob': 9,
 'Agent Zero': 10,
 'Air-Walker': 11,
 'Ajax': 12,
 'Alan Scott': 13,
 'Alex Mercer': 14,
 'Alex Woolsly': 15,
 'Alien': 16,
 'Allan Quatermain': 17,
 'Amazo': 18,
 'Ammo': 19,
 'Ando Masahashi': 20,
 'Angel': 21,
 'Angel Dust': 22,
 'Angel Salvadore': 23,
 'Angela': 24,
 'Animal Man': 25,
 'Annihilus': 26,
 'Ant-Man': 27,
 'Ant-Man II': 28,
 'Anti-Monitor': 29,
 'Anti-Spawn': 30,
 'Anti-Venom': 31,
 'Apocalypse': 32,
 'Aquababy': 33,
 'Aqualad': 34,
 'Aquaman': 35,
 'Arachne': 36,
 'Archangel': 37,
 'Arclight': 38,
 'Ardina': 39,
 'Ares': 40,
 'Ariel': 41,
 'Armor': 42,
 'Astro Boy': 43,
 'Atlas': 44,
 'Atom': 45,
 'Atom Girl': 46,
 'Atom II': 47,
 'Atom III': 48,
 'Atom IV': 49,
 'Aurora': 50,
 'Azazel': 51,
 'Azrael': 52,
 'Aztar': 53,
 'Bananaman': 54,
 'Bane': 55,
 'Banshee': 56,
 'Bantam': 57,
 'Batgirl': 58,
 'Batgirl IV': 59,
 'Batgirl VI': 60,
 'Batman': 61,
 'Batman II': 62,
 'Battlestar': 63,
 'Batwoman V': 64,
 'Beak': 65,
 'Beast': 66,
 'Beast Boy': 67,
 'Ben 10': 68,
 'Beta Ray Bill': 69,
 'Beyonder': 70,
 'Big Barda': 71,
 'Big Daddy': 72,
 'Big Man': 73,
 'Bill Harken': 74,
 'Billy Kincaid': 75,
 'Binary': 76,
 'Bionic Woman': 77,
 'Bird-Brain': 78,
 'Bird-Man': 79,
 'Bird-Man II': 80,
 'Birdman': 81,
 'Bishop': 82,
 'Bizarro': 83,
 'Bizarro-Girl': 84,
 'Black Abbott': 85,
 'Black Adam': 86,
 'Black Bolt': 87,
 'Black Canary': 88,
 'Black Cat': 89,
 'Black Flash': 90,
 'Black Knight III': 91,
 'Black Lightning': 92,
 'Black Mamba': 93,
 'Black Manta': 94,
 'Black Panther': 95,
 'Black Vulcan': 96,
 'Black Widow': 97,
 'Blackout': 98,
 'Blackwing': 99,
 'Blackwulf': 100,
 'Blade': 101,
 'Bling!': 102,
 'Blink': 103,
 'Blizzard': 104,
 'Blizzard II': 105,
 'Blob': 106,
 'Bloodaxe': 107,
 'Bloodhawk': 108,
 'Bloodwraith': 109,
 'Blue Beetle': 110,
 'Blue Beetle II': 111,
 'Blue Beetle III': 112,
 'Blue Streak': 113,
 'Boba Fett': 114,
 'Bomb Queen': 115,
 'Boom-Boom': 116,
 'Booster Gold': 117,
 'Box IV': 118,
 'Bradley': 119,
 'Brainiac': 120,
 'Brainiac 5': 121,
 'Brother Voodoo': 122,
 'Brundlefly': 123,
 'Buffy': 124,
 'Bullseye': 125,
 'Bumblebee': 126,
 'Bumbleboy': 127,
 'Bushido': 128,
 'Cable': 129,
 'Callisto': 130,
 'Cameron Hicks': 131,
 'Cannonball': 132,
 'Captain America': 133,
 'Captain Atom': 134,
 'Captain Britain': 135,
 'Captain Cold': 136,
 'Captain Epic': 137,
 'Captain Hindsight': 138,
 'Captain Marvel': 139,
 'Captain Marvel II': 140,
 'Captain Midnight': 141,
 'Captain Planet': 142,
 'Captain Universe': 143,
 'Carnage': 144,
 'Cat': 145,
 'Catwoman': 146,
 'Century': 147,
 'Cerebra': 148,
 'Chamber': 149,
 'Chameleon': 150,
 'Changeling': 151,
 'Cheetah': 152,
 'Cheetah II': 153,
 'Cheetah III': 154,
 'Chromos': 155,
 'Chuck Norris': 156,
 'Citizen Steel': 157,
 'Claire Bennet': 158,
 'Clayface': 159,
 'Cloak': 160,
 'Cogliostro': 161,
 'Colossus': 162,
 'Concrete': 163,
 'Copycat': 164,
 'Cottonmouth': 165,
 'Crimson Crusader': 166,
 'Crimson Dynamo': 167,
 'Crystal': 168,
 'Curse': 169,
 'Cy-Gor': 170,
 'Cyborg': 171,
 'Cyborg Superman': 172,
 'Cyclops': 173,
 'DL Hawkins': 174,
 'Dagger': 175,
 'Daphne Powell': 176,
 'Daredevil': 177,
 'Darkhawk': 178,
 'Darkman': 179,
 'Darkseid': 180,
 'Darkstar': 181,
 'Darth Maul': 182,
 'Darth Vader': 183,
 'Dash': 184,
 'Data': 185,
 'Dazzler': 186,
 'Deadman': 187,
 'Deadpool': 188,
 'Deadshot': 189,
 'Deathlok': 190,
 'Deathstroke': 191,
 'Dementor': 192,
 'Demogoblin': 193,
 'Destroyer': 194,
 'Diamondback': 195,
 'Doc Samson': 196,
 'Doctor Doom': 197,
 'Doctor Doom II': 198,
 'Doctor Fate': 199,
 'Doctor Octopus': 200,
 'Doctor Poison': 201,
 'Doctor Strange': 202,
 'Domino': 203,
 'Donatello': 204,
 'Donna Troy': 205,
 'Doomsday': 206,
 'Doppelganger': 207,
 'Dormammu': 208,
 'Dr Manhattan': 209,
 'Drax the Destroyer': 210,
 'Ego': 211,
 'Elastigirl': 212,
 'Electro': 213,
 'Elektra': 214,
 'Elle Bishop': 215,
 'Elongated Man': 216,
 'Emma Frost': 217,
 'Enchantress': 218,
 'Energy': 219,
 'Ethan Hunt': 220,
 'Etrigan': 221,
 'Evil Deadpool': 222,
 'Evilhawk': 223,
 'Exodus': 224,
 'Fabian Cortez': 225,
 'Falcon': 226,
 'Fallen One II': 227,
 'Faora': 228,
 'Feral': 229,
 'Fighting Spirit': 230,
 'Fin Fang Foom': 231,
 'Fire': 232,
 'Firebird': 233,
 'Firelord': 234,
 'Firestar': 235,
 'Firestorm': 236,
 'Flash': 237,
 'Flash Gordon': 238,
 'Flash II': 239,
 'Flash III': 240,
 'Flash IV': 241,
 'Forge': 242,
 'Franklin Richards': 243,
 'Frenzy': 244,
 'Frigga': 245,
 'Galactus': 246,
 'Gambit': 247,
 'Gamora': 248,
 'Garbage Man': 249,
 'Gary Bell': 250,
 'General Zod': 251,
 'Genesis': 252,
 'Ghost Rider': 253,
 'Ghost Rider II': 254,
 'Giganta': 255,
 'Gladiator': 256,
 'Goblin Queen': 257,
 'Godzilla': 258,
 'Gog': 259,
 'Goku': 260,
 'Goliath IV': 261,
 'Gorilla Grodd': 262,
 'Granny Goodness': 263,
 'Gravity': 264,
 'Greedo': 265,
 'Green Arrow': 266,
 'Green Goblin': 267,
 'Green Goblin II': 268,
 'Green Goblin III': 269,
 'Green Goblin IV': 270,
 'Groot': 271,
 'Guy Gardner': 272,
 'Hal Jordan': 273,
 'Han Solo': 274,
 'Hancock': 275,
 'Harley Quinn': 276,
 'Harry Potter': 277,
 'Havok': 278,
 'Hawk': 279,
 'Hawkeye': 280,
 'Hawkeye II': 281,
 'Hawkgirl': 282,
 'Hawkman': 283,
 'Heat Wave': 284,
 'Hela': 285,
 'Hellboy': 286,
 'Hellcat': 287,
 'Hellgramite': 288,
 'Hellstorm': 289,
 'Hercules': 290,
 'Hiro Nakamura': 291,
 'Hit-Girl': 292,
 'Hobgoblin': 293,
 'Hollow': 294,
 'Hope Summers': 295,
 'Hulk': 296,
 'Human Torch': 297,
 'Huntress': 298,
 'Husk': 299,
 'Hybrid': 300,
 'Hydro-Man': 301,
 'Hyperion': 302,
 'Iceman': 303,
 'Impulse': 304,
 'Indiana Jones': 305,
 'Indigo': 306,
 'Ink': 307,
 'Invisible Woman': 308,
 'Iron Fist': 309,
 'Iron Man': 310,
 'Iron Monger': 311,
 'Isis': 312,
 'JJ Powell': 313,
 'Jack of Hearts': 314,
 'Jack-Jack': 315,
 'James Bond': 316,
 'James T. Kirk': 317,
 'Jar Jar Binks': 318,
 'Jason Bourne': 319,
 'Jean Grey': 320,
 'Jean-Luc Picard': 321,
 'Jennifer Kale': 322,
 'Jessica Cruz': 323,
 'Jessica Jones': 324,
 'Jim Powell': 325,
 'Johann Krauss': 326,
 'John Constantine': 327,
 'John Stewart': 328,
 'John Wraith': 329,
 'Joker': 330,
 'Jolt': 331,
 'Jubilee': 332,
 'Judge Dredd': 333,
 'Juggernaut': 334,
 'Junkpile': 335,
 'Justice': 336,
 'K-2SO': 337,
 'Kang': 338,
 'Karate Kid': 339,
 'Kathryn Janeway': 340,
 'Katniss Everdeen': 341,
 'Kevin 11': 342,
 'Kick-Ass': 343,
 'Kid Flash': 344,
 'Killer Croc': 345,
 'Killer Frost': 346,
 'Kilowog': 347,
 'King Kong': 348,
 'King Shark': 349,
 'Klaw': 350,
 'Kool-Aid Man': 351,
 'Kraven II': 352,
 'Kraven the Hunter': 353,
 'Krypto': 354,
 'Kyle Rayner': 355,
 'Kylo Ren': 356,
 'Lady Bullseye': 357,
 'Lady Deathstrike': 358,
 'Lara Croft': 359,
 'Leader': 360,
 'Leech': 361,
 'Legion': 362,
 'Leonardo': 363,
 'Lex Luthor': 364,
 'Light Lass': 365,
 'Lightning Lad': 366,
 'Lightning Lord': 367,
 'Little Epic': 368,
 'Living Brain': 369,
 'Living Tribunal': 370,
 'Liz Sherman': 371,
 'Lizard': 372,
 'Lobo': 373,
 'Loki': 374,
 'Longshot': 375,
 'Lord Voldemort': 376,
 'Luke Cage': 377,
 'Luke Campbell': 378,
 'Luke Skywalker': 379,
 'Luna': 380,
 'Lyja': 381,
 'MODOK': 382,
 'Mach-IV': 383,
 'Machine Man': 384,
 'Magneto': 385,
 'Magog': 386,
 'Magus': 387,
 'Man of Miracles': 388,
 'Man-Bat': 389,
 'Man-Thing': 390,
 'Man-Wolf': 391,
 'Mandarin': 392,
 'Mantis': 393,
 'Martian Manhunter': 394,
 'Marvel Girl': 395,
 'Master Brood': 396,
 'Master Chief': 397,
 'Match': 398,
 'Matt Parkman': 399,
 'Maverick': 400,
 'Maxima': 401,
 'Maya Herrera': 402,
 'Medusa': 403,
 'Meltdown': 404,
 'Mephisto': 405,
 'Mera': 406,
 'Metallo': 407,
 'Metamorpho': 408,
 'Metron': 409,
 'Micah Sanders': 410,
 'Michelangelo': 411,
 'Micro Lad': 412,
 'Mimic': 413,
 'Minna Murray': 414,
 'Misfit': 415,
 'Miss Martian': 416,
 'Mister Fantastic': 417,
 'Mister Freeze': 418,
 'Mister Knife': 419,
 'Mister Mxyzptlk': 420,
 'Mister Sinister': 421,
 'Mockingbird': 422,
 'Mohinder Suresh': 423,
 'Molten Man': 424,
 'Monarch': 425,
 'Monica Dawson': 426,
 'Moon Knight': 427,
 'Moonstone': 428,
 'Morlun': 429,
 'Moses Magnum': 430,
 'Mr Immortal': 431,
 'Mr Incredible': 432,
 'Ms Marvel II': 433,
 'Multiple Man': 434,
 'Mysterio': 435,
 'Mystique': 436,
 'Namor': 437,
 'Namora': 438,
 'Namorita': 439,
 'Naruto Uzumaki': 440,
 'Nathan Petrelli': 441,
 'Nebula': 442,
 'Negasonic Teenage Warhead': 443,
 'Nick Fury': 444,
 'Nightcrawler': 445,
 'Nightwing': 446,
 'Niki Sanders': 447,
 'Nina Theroux': 448,
 'Northstar': 449,
 'Nova': 450,
 'Odin': 451,
 'Offspring': 452,
 'Omniscient': 453,
 'One Punch Man': 454,
 'One-Above-All': 455,
 'Onslaught': 456,
 'Oracle': 457,
 'Orion': 458,
 'Osiris': 459,
 'Overtkill': 460,
 'Ozymandias': 461,
 'Parademon': 462,
 'Peek-a-Boo': 463,
 'Penance II': 464,
 'Penguin': 465,
 'Peter Petrelli': 466,
 'Phantom': 467,
 'Phantom Girl': 468,
 'Phoenix': 469,
 'Plantman': 470,
 'Plastic Man': 471,
 'Plastique': 472,
 'Poison Ivy': 473,
 'Polaris': 474,
 'Power Girl': 475,
 'Predator': 476,
 'Professor X': 477,
 'Professor Zoom': 478,
 'Proto-Goblin': 479,
 'Psylocke': 480,
 'Punisher': 481,
 'Purple Man': 482,
 'Pyro': 483,
 'Q': 484,
 'Quantum': 485,
 'Queen Hippolyta': 486,
 'Question': 487,
 'Quicksilver': 488,
 'Quill': 489,
 "Ra's Al Ghul": 490,
 'Rachel Pirzad': 491,
 'Rambo': 492,
 'Raphael': 493,
 'Raven': 494,
 'Ray': 495,
 'Razor-Fist II': 496,
 'Reactron': 497,
 'Red Arrow': 498,
 'Red Hood': 499,
 'Red Hulk': 500,
 'Red Mist': 501,
 'Red Robin': 502,
 'Red Skull': 503,
 'Red Tornado': 504,
 'Redeemer II': 505,
 'Redeemer III': 506,
 'Rey': 507,
 'Rhino': 508,
 'Rick Flag': 509,
 'Riddler': 510,
 'Rip Hunter': 511,
 'Ripcord': 512,
 'Robin': 513,
 'Robin II': 514,
 'Robin III': 515,
 'Robin V': 516,
 'Robin VI': 517,
 'Rocket Raccoon': 518,
 'Rogue': 519,
 'Rorschach': 520,
 'SHDB': 521,
 'Sabretooth': 522,
 'Sage': 523,
 'Sandman': 524,
 'Sasquatch': 525,
 'Sauron': 526,
 'Savage Dragon': 527,
 'Scarecrow': 528,
 'Scarlet Spider': 529,
 'Scarlet Spider II': 530,
 'Scarlet Witch': 531,
 'Scorpia': 532,
 'Scorpion': 533,
 'Sebastian Shaw': 534,
 'Sentry': 535,
 'Shadow King': 536,
 'Shadow Lass': 537,
 'Shadowcat': 538,
 'Shang-Chi': 539,
 'Shatterstar': 540,
 'She-Hulk': 541,
 'She-Thing': 542,
 'Shocker': 543,
 'Shriek': 544,
 'Sif': 545,
 'Silk': 546,
 'Silk Spectre': 547,
 'Silk Spectre II': 548,
 'Silver Surfer': 549,
 'Silverclaw': 550,
 'Simon Baz': 551,
 'Sinestro': 552,
 'Siren': 553,
 'Siren II': 554,
 'Siryn': 555,
 'Skaar': 556,
 'Snowbird': 557,
 'Sobek': 558,
 'Solomon Grundy': 559,
 'Songbird': 560,
 'Space Ghost': 561,
 'Spawn': 562,
 'Spectre': 563,
 'Speedball': 564,
 'Speedy': 565,
 'Spider-Girl': 566,
 'Spider-Gwen': 567,
 'Spider-Man': 568,
 'Spider-Woman': 569,
 'Spider-Woman III': 570,
 'Spider-Woman IV': 571,
 'Spock': 572,
 'Spyke': 573,
 'Star-Lord': 574,
 'Stardust': 575,
 'Starfire': 576,
 'Stargirl': 577,
 'Static': 578,
 'Steel': 579,
 'Stephanie Powell': 580,
 'Steppenwolf': 581,
 'Storm': 582,
 'Stormtrooper': 583,
 'Stretch Armstrong': 584,
 'Sunspot': 585,
 'Superboy': 586,
 'Superboy-Prime': 587,
 'Supergirl': 588,
 'Superman': 589,
 'Swamp Thing': 590,
 'Swarm': 591,
 'Sylar': 592,
 'Synch': 593,
 'T-1000': 594,
 'T-800': 595,
 'T-850': 596,
 'T-X': 597,
 'TEST': 598,
 'Taskmaster': 599,
 'Tempest': 600,
 'Thanos': 601,
 'The Cape': 602,
 'The Comedian': 603,
 'Thing': 604,
 'Thor': 605,
 'Thor Girl': 606,
 'Thunderbird': 607,
 'Thunderbird III': 608,
 'Thunderstrike': 609,
 'Thundra': 610,
 'Tiger Shark': 611,
 'Tigra': 612,
 'Tinkerer': 613,
 'Titan': 614,
 'Toad': 615,
 'Tommy Clarke': 616,
 'Toxin': 617,
 'Tracy Strauss': 618,
 'Trickster': 619,
 'Trigon': 620,
 'Triplicate Girl': 621,
 'Triton': 622,
 'Tyrant': 623,
 'Ultragirl': 624,
 'Ultron': 625,
 'Utgard-Loki': 626,
 'Valerie Hart': 627,
 'Valkyrie': 628,
 'Vanisher': 629,
 'Vegeta': 630,
 'Venom': 631,
 'Venom II': 632,
 'Venom III': 633,
 'Venompool': 634,
 'Vertigo II': 635,
 'Vibe': 636,
 'Vindicator': 637,
 'Violator': 638,
 'Violet Parr': 639,
 'Vision': 640,
 'Vixen': 641,
 'Vulture': 642,
 'Walrus': 643,
 'War Machine': 644,
 'Warlock': 645,
 'Warp': 646,
 'Warpath': 647,
 'Wasp': 648,
 'Watcher': 649,
 'Weapon XI': 650,
 'White Canary': 651,
 'Wildfire': 652,
 'Winter Soldier': 653,
 'Wolfsbane': 654,
 'Wolverine': 655,
 'Wonder Girl': 656,
 'Wonder Man': 657,
 'Wonder Woman': 658,
 'X-23': 659,
 'X-Man': 660,
 'Yellowjacket': 661,
 'Yellowjacket II': 662,
 'Ymir': 663,
 'Yoda': 664,
 'Zatanna': 665,
 'Zoom': 666}

In [42]:
## demonstrating using id_map to get iteger id 
example_str_name ="Superman"
name_map[example_str_name]

396

In [43]:
## demonstrating using id_map to get iteger id 
example_str_name_2 ="Superman"
name_map_2[example_str_name_2]

589

In [44]:
super_info_df['Hero'].map(name_map)

0        0
1        1
2        2
3        3
4        4
      ...
458    450
459    451
460    452
461    453
462    454
Name: Hero, Length: 463, dtype: int64

In [45]:
super_powers_df['Hero'].map(name_map_2)

0        0
1        1
2        2
3        3
4        4
      ...
662    662
663    663
664    664
665    665
666    666
Name: Hero, Length: 667, dtype: int64

In [46]:
## overwriting the original Hero column 
super_info_df['Hero'] = super_info_df['Hero'].replace(name_map)
super_info_df.head(3)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Hero,Publisher,Height,Weight
0,Male,Human,good,No Hair,yellow,Unknown,0,Marvel Comics,203.0,441.0
1,Male,Icthyo Sapien,good,No Hair,blue,blue,1,Dark Horse Comics,191.0,65.0
2,Male,Ungaran,good,No Hair,blue,red,2,DC Comics,185.0,90.0

In [47]:
## overwriting the original Hero column 
super_powers_df['Hero'] = super_powers_df['Hero'].replace(name_map_2)
super_powers_df.head(3)

,Hero,Powers,Powers_Split,Agility,Super Strength,Stamina,Super Speed,Accelerated Healing,Durability,Longevity,...,Weather Control,Omnipresent,Omniscient,Hair Manipulation,Nova Force,Odin Force,Phoenix Force,Intuitive aptitude,Melting,Changing Armor
0,0,"Agility,Super Strength,Stamina,Super Speed","[Agility, Super Strength, Stamina, Super Speed]",True,True,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1,"Accelerated Healing,Durability,Longevity,Super...","[Accelerated Healing, Durability, Longevity, S...",False,True,True,False,True,True,True,...,False,False,False,False,False,False,False,False,False,False
2,2,"Agility,Accelerated Healing,Cold Resistance,Du...","[Agility, Accelerated Healing, Cold Resistance...",True,True,True,False,True,True,True,...,False,False,False,False,False,False,False,False,False,False

In [48]:
# Using pd.DataFrame and a dictionary
name_lookup = pd.DataFrame({'str_names': name_map.keys(),
                         'int_names':name_map.values()})
name_lookup.head(3)

    str_names  int_names
0      A-Bomb          0
1  Abe Sapien          1
2    Abin Sur          2

In [49]:
# Using pd.DataFrame and a dictionary
name_lookup_2 = pd.DataFrame({'str_names': name_map_2.keys(),
                         'int_names':name_map_2.values()})
name_lookup_2.head(3)

    str_names  int_names
0     3-D Man          0
1      A-Bomb          1
2  Abe Sapien          2

## Joining Dataframes

In [50]:
## Merging with the same column name
pd.merge(super_info_df,super_powers_df, on='Hero')

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Hero,Publisher,Height,Weight,...,Weather Control,Omnipresent,Omniscient,Hair Manipulation,Nova Force,Odin Force,Phoenix Force,Intuitive aptitude,Melting,Changing Armor
0,Male,Human,good,No Hair,yellow,Unknown,0,Marvel Comics,203.0,441.0,...,False,False,False,False,False,False,False,False,False,False
1,Male,Icthyo Sapien,good,No Hair,blue,blue,1,Dark Horse Comics,191.0,65.0,...,False,False,False,False,False,False,False,False,False,False
2,Male,Ungaran,good,No Hair,blue,red,2,DC Comics,185.0,90.0,...,False,False,False,False,False,False,False,False,False,False
3,Male,Human / Radiation,bad,No Hair,green,Unknown,3,Marvel Comics,203.0,441.0,...,False,False,False,False,False,False,False,False,False,False
4,Male,Human,bad,No Hair,blue,Unknown,4,Marvel Comics,193.0,122.0,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
458,Male,Human,good,Blond,blue,Unknown,450,Marvel Comics,183.0,83.0,...,False,False,False,False,True,False,False,False,False,False
459,Female,Human,good,Strawberry Blond,blue,Unknown,451,Marvel Comics,165.0,52.0,...,True,False,False,False,False,True,False,False,False,False
460,Male,Yoda's species,good,White,brown,green,452,George Lucas,66.0,17.0,...,False,False,False,False,False,False,False,False,False,False
461,Female,Human,good,Black,blue,Unknown,453,DC Comics,170.0,57.0,...,False,False,False,False,False,False,False,False,False,False
462,Male,Unknown,bad,Brown,red,Unknown,454,DC Comics,185.0,81.0,...,False,False,False,False,False,False,False,False,False,False

# SQL

## Setup

In [51]:
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
# Create connection string using credentials following this format
# connection = "dialect+driver://username:password@host:port/database"
connection_str = "mysql+pymysql://root:root@localhost/super"

In [52]:
# create engine
engine = create_engine(connection_str)

In [53]:
# create database
## Check if database exists, if not, create it
if database_exists(connection_str) == False: create_database(connection_str)
else: print('The database already exists.')

The database already exists.

In [54]:
# verify database was created
database_exists(connection_str)

True